* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
a, li, ul, ol {
    list-style-type: none;
    color: initial;
    text-decoration: none;
}
a:hover, a:active {
    color: initial;
}

body {
    display: flex;
    background-color: #F5F5F6;
}
.isRateModalOpen {
    overflow-y: hidden;
}