@import "../../styles/constants/colors";
.moviesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  &__loader {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 64vh;
    flex-direction: column;
  }

  &__empty-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
  }

  &__pagination {
      display: flex;
      justify-content: flex-end;

    &_ratedPage {
      justify-content: center !important;
    }
  }
}

@media (max-width: 426px) {
  .moviesList {
    display: grid;
    justify-content: center;
    grid-template-columns: unset;
    gap: 16px;

    &__pagination {
      padding-right: unset;
      justify-content: center;
    }
  }
}