@import "../../styles/constants/colors";
.moviesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  &__spinner {
    display: flex;
    justify-content: center;
    height: 64vh;
  }

  &__pagination {
      display: flex;
      justify-content: flex-end;
      padding-right: 75px;

    &_ratedPage {
      justify-content: center !important;
    }
  }
}